node_modules
package-*.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_Adb.js
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_Adb.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_Menu.js
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_Menu.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_Psychology.js
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_Psychology.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_RestaurantMenu.js
mc-d-lunchin-frontend/.vite/deps/@mui_icons-material_RestaurantMenu.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_AppBar.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_AppBar.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Avatar.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Avatar.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Box.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Box.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Button.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Button.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Card.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Card.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_CardContent.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_CardContent.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Container.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Container.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_CssBaseline.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_CssBaseline.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_FormControl.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_FormControl.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_FormControlLabel.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_FormControlLabel.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_FormLabel.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_FormLabel.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_IconButton.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_IconButton.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Link.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Link.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Menu.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Menu.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_MenuItem.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_MenuItem.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Radio.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Radio.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_RadioGroup.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_RadioGroup.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_styles.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_styles.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Toolbar.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Toolbar.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Tooltip.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Tooltip.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material_Typography.js
mc-d-lunchin-frontend/.vite/deps/@mui_material_Typography.js.map
mc-d-lunchin-frontend/.vite/deps/@mui_material.js
mc-d-lunchin-frontend/.vite/deps/@mui_material.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-2C6DYCDE.js
mc-d-lunchin-frontend/.vite/deps/chunk-2C6DYCDE.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-2YZGEIT6.js
mc-d-lunchin-frontend/.vite/deps/chunk-2YZGEIT6.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-3BLA3CI3.js
mc-d-lunchin-frontend/.vite/deps/chunk-3BLA3CI3.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-4BVPON3A.js
mc-d-lunchin-frontend/.vite/deps/chunk-4BVPON3A.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-4G4HNDWY.js
mc-d-lunchin-frontend/.vite/deps/chunk-4G4HNDWY.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-4OJHRHHE.js
mc-d-lunchin-frontend/.vite/deps/chunk-4OJHRHHE.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-5AR7P7EP.js
mc-d-lunchin-frontend/.vite/deps/chunk-5AR7P7EP.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-5WUZH4SP.js
mc-d-lunchin-frontend/.vite/deps/chunk-5WUZH4SP.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-5XT2P4DL.js
mc-d-lunchin-frontend/.vite/deps/chunk-5XT2P4DL.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-6TQHEY3G.js
mc-d-lunchin-frontend/.vite/deps/chunk-6TQHEY3G.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-343ZKJKR.js
mc-d-lunchin-frontend/.vite/deps/chunk-343ZKJKR.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-ALPDXFJP.js
mc-d-lunchin-frontend/.vite/deps/chunk-ALPDXFJP.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-AY6LENDD.js
mc-d-lunchin-frontend/.vite/deps/chunk-AY6LENDD.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-B7O5AGPE.js
mc-d-lunchin-frontend/.vite/deps/chunk-B7O5AGPE.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-BGOQSAUH.js
mc-d-lunchin-frontend/.vite/deps/chunk-BGOQSAUH.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-C3UWJFWI.js
mc-d-lunchin-frontend/.vite/deps/chunk-C3UWJFWI.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-C6WWHQR7.js
mc-d-lunchin-frontend/.vite/deps/chunk-C6WWHQR7.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-DI3YATBO.js
mc-d-lunchin-frontend/.vite/deps/chunk-DI3YATBO.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-DXVVNI4A.js
mc-d-lunchin-frontend/.vite/deps/chunk-DXVVNI4A.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-E7T3IFNJ.js
mc-d-lunchin-frontend/.vite/deps/chunk-E7T3IFNJ.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-EKVXO4CQ.js
mc-d-lunchin-frontend/.vite/deps/chunk-EKVXO4CQ.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-FPI2V5KZ.js
mc-d-lunchin-frontend/.vite/deps/chunk-FPI2V5KZ.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-GFNFNXSU.js
mc-d-lunchin-frontend/.vite/deps/chunk-GFNFNXSU.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-H3KJR5VN.js
mc-d-lunchin-frontend/.vite/deps/chunk-H3KJR5VN.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-HMF3VXJX.js
mc-d-lunchin-frontend/.vite/deps/chunk-HMF3VXJX.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-I4PGYHL6.js
mc-d-lunchin-frontend/.vite/deps/chunk-I4PGYHL6.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-IBWUGY4Z.js
mc-d-lunchin-frontend/.vite/deps/chunk-IBWUGY4Z.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-IOCQTIU2.js
mc-d-lunchin-frontend/.vite/deps/chunk-IOCQTIU2.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-KXNR27BA.js
mc-d-lunchin-frontend/.vite/deps/chunk-KXNR27BA.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-LLUFNFSE.js
mc-d-lunchin-frontend/.vite/deps/chunk-LLUFNFSE.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-LNM54IQC.js
mc-d-lunchin-frontend/.vite/deps/chunk-LNM54IQC.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-MXCARPCE.js
mc-d-lunchin-frontend/.vite/deps/chunk-MXCARPCE.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-NDWRSZFI.js
mc-d-lunchin-frontend/.vite/deps/chunk-NDWRSZFI.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-QFPH5NBL.js
mc-d-lunchin-frontend/.vite/deps/chunk-QFPH5NBL.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-QNRKZXYP.js
mc-d-lunchin-frontend/.vite/deps/chunk-QNRKZXYP.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-QTIB7XZK.js
mc-d-lunchin-frontend/.vite/deps/chunk-QTIB7XZK.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-QWBFAJGR.js
mc-d-lunchin-frontend/.vite/deps/chunk-QWBFAJGR.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-R53DMRRI.js
mc-d-lunchin-frontend/.vite/deps/chunk-R53DMRRI.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-RDSHIQBA.js
mc-d-lunchin-frontend/.vite/deps/chunk-RDSHIQBA.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-RJARDT6X.js
mc-d-lunchin-frontend/.vite/deps/chunk-RJARDT6X.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-RLPWNEP7.js
mc-d-lunchin-frontend/.vite/deps/chunk-RLPWNEP7.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-RUZRTJPD.js
mc-d-lunchin-frontend/.vite/deps/chunk-RUZRTJPD.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-TAPUFPH2.js
mc-d-lunchin-frontend/.vite/deps/chunk-TAPUFPH2.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-UU4T5AH5.js
mc-d-lunchin-frontend/.vite/deps/chunk-UU4T5AH5.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-VAABMLK6.js
mc-d-lunchin-frontend/.vite/deps/chunk-VAABMLK6.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-VRI4UHGV.js
mc-d-lunchin-frontend/.vite/deps/chunk-VRI4UHGV.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-X5H3NTYU.js
mc-d-lunchin-frontend/.vite/deps/chunk-X5H3NTYU.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-X7W5LOJN.js
mc-d-lunchin-frontend/.vite/deps/chunk-X7W5LOJN.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-XQGDRMT3.js
mc-d-lunchin-frontend/.vite/deps/chunk-XQGDRMT3.js.map
mc-d-lunchin-frontend/.vite/deps/chunk-Y2KBGOV7.js
mc-d-lunchin-frontend/.vite/deps/chunk-Y2KBGOV7.js.map
mc-d-lunchin-frontend/.vite/deps/react-dom_client.js
mc-d-lunchin-frontend/.vite/deps/react-dom_client.js.map
mc-d-lunchin-frontend/.vite/deps/react-router-dom.js
mc-d-lunchin-frontend/.vite/deps/react-router-dom.js.map
mc-d-lunchin-frontend/.vite/deps/react.js
mc-d-lunchin-frontend/.vite/deps/react.js.map
mc-d-lunchin-frontend/.vite/deps/_metadata.json
